version: "3.9"

services:
  prometheus:
    image: prom/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - 9090:9090
    restart: unless-stopped
    volumes:
      - ./zarf/prometheus:/etc/prometheus
      - prom_data:/prometheus
  grafana:
    image: grafana/grafana
    ports:
      - 3000:3000
    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_USER=user
      - GF_SECURITY_ADMIN_PASSWORD=password
    volumes:
      - ./zarf/grafana:/etc/grafana/provisioning/datasources
  cache:
    image: redis:6.2-alpine
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning --requirepass password
    volumes:
      - ~/docker-volumes/restapi-cache:/data
  jaeger:
    image: jaegertracing/all-in-one:1.32
    ports:
      - "6831:6831/udp"
      - "16686:16686"
  db:
    image: mysql:5.7
    restart: always
    environment:
      TZ: 'Asia/Saigon'
      MYSQL_DATABASE: restapidb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: password
    ports:
      - '3306:3306'
    volumes:
      - ~/docker-volumes/restapi-db:/var/lib/mysql
volumes:
  prom_data: